.container {
  text-align: center;
  padding: 20px;
}

.products {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

button {
  padding: 8px 15px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}